@model IEnumerable<Online_Shoes_Shop.Models.ShoesModel>

<div class="slides-container">

    <div class="slide active">
        <div class="content">
            <span>new winter</span>
            <h3>shoes collection</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim consequatur reprehenderit.</p>
            <button class="btn">
                <span>shop now</span>
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="image">
            <img src="~/images/header-1.png" alt="">
        </div>
    </div>

    <div class="slide">
        <div class="content">
            <span>new winter</span>
            <h3>shoes collection</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim consequatur reprehenderit.</p>
            <button class="btn">
                <span>shop now</span>
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="image">
            <img src="~/images/header-2.png" alt="">
        </div>
    </div>

</div>

<div id="slide-next" onclick="next()" class="fas fa-angle-right"></div>
<div id="slide-prev" onclick="prev()" class="fas fa-angle-left"></div>

    </section>

<section class="products container-fluid" id="products">
    <div class="row mx-5">
        <div class="ms-4 col-3 d-flex justify-content-start align-items-center">
            <span style="font-size:1.5em; font-weight:500;">Category : &nbsp;</span>
            <select id="categoryDropdown" style="font-size:1.5em; font-weight:500;" class="px-2 py-1 border border-3 border-success">
                @foreach (var item in ViewBag.ShoesDropdown as List<SelectListItem>)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>

        </div>
        <div class="col-5 pt-5"><h1 class="heading"><span>
            
        </span>Our Products</h1></div>
        <div class="col d-flex justify-content-end align-items-center">
            <input id="searchBox" class="fs-3 border border-2 w-75 p-3" type="Text" placeholder="Search Here ......" />
        </div>
    </div>

    <div class="box-container">
        @Html.Partial("_ShoesList", Model)
    </div>
</section>

<section class="contact" id="contact">

    <h1 class="heading"><span>contact</span> us</h1>

    <div class="row">

        <div class="image">
            <img src="~/images/contact.png" alt="">
        </div>

        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Your Number">
                <input type="text" placeholder="Your Subject">
            </div>
            <textarea placeholder="Your Message" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

    </div>

</section>
<!-- footer section starts -->

<section class="footer" id="about-us">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore magnam.</p>
        </div>

        <div class="box">
            <h3>our services</h3>
            <a href="#">pricing</a>
            <a href="#">discount</a>
            <a href="#">refund policy</a>
            <a href="#">shipping mode</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">products</a>
            <a href="#">featured</a>
            <a href="#">review</a>
        </div>

        <div class="box">
            <h3>social links</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook</a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter</a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram</a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin</a>
        </div>

    </div>

</section>

<section class="credit">
    &copy; copyright 2025 by ShoeStore
</section>
<!-- footer section ends -->


@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // console.log("DOM is ready");

            // Handle search input
            $(document).on('input', '#searchBox', function () {
                const query = $(this).val();
                // console.log("Search Box Input:", query);

                // Clear dropdown selection when search is active
                $('#categoryDropdown').val('');
                // console.log("Category dropdown cleared");

                if (query.trim() === '') {
                    location.reload(); // Reload to show all items
                } else {
                    $.get('/Shoes/SearchPartial', { query: query }, function (result) {
                        console.log("Search results loaded");
                        $('.box-container').html(result); // Update the box-container with the search results
                    }).fail(function () {
                        $('.box-container').html('<p>Error loading results.</p>');
                    });
                }
            });

            // Handle category dropdown change
            $(document).on('change', '#categoryDropdown', function () {
                const categoryId = $(this).val();
                // console.log("Category Dropdown Changed, Selected ID:", categoryId);

                // Clear search box when category is selected
                $('#searchBox').val('');
                // console.log("Search box cleared");

                if (categoryId) {
                    $.get('/Shoes/GetShoesByCategory', { id: categoryId }, function (result) {
                        // console.log("Category results loaded");
                        $('.box-container').html(result);
                    }).fail(function () {
                        $('.box-container').html('<p>Error loading shoes for the selected category.</p>');
                    });
                }
            });
        });
    </script>
}